.blockquote {border-left:5px solid #E6E6E6;margin-bottom:25px}
.blockquote .square {width:100px;min-height:50px;margin-right:22px;text-align:center!important;background-color:#E6E6E6;padding:20px 0}
.blockquote .blockquote-primary {border-color:#357EBD}
.blockquote .blockquote-primary .square {background-color:#428BCA;color:#FFF}
.blockquote .blockquote-success {border-color:#4CAE4C}
.blockquote .blockquote-success .square {background-color:#5CB85C;color:#FFF}
.blockquote .blockquote-info {border-color:#46B8DA}
.blockquote .blockquote-info .square{background-color:#5BC0DE;color:#FFF}
.blockquote .blockquote-warning {border-color:#EEA236}
.blockquote .blockquote-warning .square {background-color:#F0AD4E;color:#FFF}
.blockquote .blockquote-danger {border-color:#D43F3A}
.blockquote .blockquote-danger .square {background-color:#D9534F;color:#FFF}

.blockquote p{margin-left: 20px;}

.blockquote footer {margin-left: 20px;}
