/* @import "nord.css"; */

blockquote {
  border-left: 10px solid var(--nord6);
  border-right: 10px solid var(--nord6);
  border-top: 10px solid var(--nord6);
  border-bottom: 10px solid var(--nord6);
  /* margin-bottom:25px; */
  /* margin-top:25px; */
  background-color: var(--nord6)
}

blockquote p {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

blockquote footer {
  margin-left: 20px;
}

img .headshot {
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
}

/* Set max width of images using CSS. This also makes all images responsive up
to the width of the device. */
img {
  width: 100%;
  max-width: 600px;
}


body {
  line-height: 1.7;
  margin: auto;
  /* max-width: 56em; */
}

pre {
  background-color: var(--nord6);
  display: block;
  padding: 20px;
}

.bg-light {
  background-color: var(--nord3);
}

.bg-medium {
  background-color: var(--nord4);
}

/* html,
body {
  color: var(--nord4);
  background-color: var(--nord0);
} */

/* a {
    color: var(--nord8);
} */

a:hover {
  color: var(--nord1);
}

.author {
  color: var(--nord10);
}

.tags {
  color: var(--nord10);
}

.transition {
  transition: all 500ms;
}

.card-hover:hover {
  transform: scale(1.05);
}

code {
  color: var(--nord11);
}

.bg-nord-light {
  background-color: var(--nord4);
}


.bg-green {
  background-color: var(--nord7);
}

.bg-yellow {
  background-color: var(--nord13);
}


.bg-red {
  background-color: var(--nord12);
}


.bg-blue {
  background-color: var(--nord8);
}


.box-shadow {
  box-shadow: 0px 0px 20px var(--nord4);
}

table,
th,
td {
  border: 1px solid;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
}

th {
  background-color: var(--nord7);
}

.boxed {
  border: 1px solid var(--nord4);
  padding: 3px;
  border-radius: 5px;
  margin: 3px;
}

.blog-card-container {
  display: flex;
  flex-wrap: wrap;
}

.blog-card-summary {
  flex-basis: 100%;
}

.blog-card-left {
  flex: 1;
}

.blog-card-right {
  flex: 3;
}
