{% macro render_blog_post(post, from_index=false) %}
  <!-- <div class="blog-post"> -->
  <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
  <div>
  {% if from_index %}
    <h1><a href="{{ post|url }}">{{ post.title }}</a></h1>
  {% else %}
    <h1>{{ post.title }}</h1>
  {% endif %}
  <p class="meta">
    written by
    {% if post.twitter_handle %}
      <a href="https://twitter.com/{{ post.twitter_handle
        }}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
      {{ post.author }}
    {% endif %}
    on {{ post.pub_date }}
  </p>
  {{ post.body }}
  </div>
{% endmacro %}
