{% macro render_blog_header(post, from_index=false) %}
<!-- Set title style -->
{% if from_index %}
<h3><a href="{{ post|url }}">{{ post.title }}</a></h3>
{% else %}
<h3>{{ post.title }}</h3>
{% endif %}

<!-- Append author -->
<small class="text-muted">
  <p>
    written by
    {% if post.twitter_handle %}
    <a href="https://twitter.com/{{ post.twitter_handle
                    }}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
    {{ post.author }}
    {% endif %}
    on {{ post.pub_date }}
    {% if post.tags %}
  </p>
  <p>
    <!-- Append tags after author -->
    {% for t in post.tags -%}
    <i class="fas fa-tag"></i>
    <a href="{{ ('/blog/tag/' ~ t.lower() ~ '/')|url }}">
      {{ t }}
    </a>
    {% endfor %}
  </p>
  {% endif %}
</small>
{% endmacro %}

{% macro render_blog_post(post, from_index=false) %}
<!-- Import stylesheet -->
<link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
<div>
  {{ render_blog_header(post, from_index) }}

  <!-- Put post body -->
  {{ post.body }}
</div>
{% endmacro %}



{% macro render_blog_card(post) %}
<div class="card bg-dark">
  <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
  <div class="card-body">
    {{ render_blog_header(post) }}
    {% if post.summary %}
    <p class="card-text">{{ post.summary }}</p>
    <small class="text-muted">
      <a href="{{ post|url }}">Read on...</a>
    </small>
    {% else %}
    <div>
      <p class="card-text">{{ post.body.html|escape()|truncate(255, False) }}
        <a href="{{ post|url }}">(read more)</a>
      </p>
    </div>
    {% endif %}
  </div>
</div>
{% endmacro %}
