{% macro render_project(project) %}
<div class="col mb-4">
    <div class="card bg-dark h-100">
        <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h5>
            {{ project.summary }}
            {% for blk in project.body.blocks %}
            {% if blk._flowblock == "resource" %}
            <a href="{{ blk.url }}" class="card-link">{{ blk.label }}</a>
            {% endif %}
            {% if blk._flowblock == "github" %}
            <a href="{{ blk.url }}" class="card-link">GitHub Repository</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endmacro %}


{% macro render_accordion(project, iter) %}
<div class="card" style="width: 18rem;">
    <div class="card-header" role="tab" id="heading{{ iter }}">
        <h4 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ iter }}"
                aria-expanded="false" aria-controls="collapse{{ iter }}">
                {{ project.title }}
            </a>
        </h4>
    </div>
    <div id="collapse{{ iter }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ iter }}">
        <div class="card-block">
            <p><i>{{ project.type }}</i></p>
            <p>{{ project.description }}</p>
            <p><b>Resource:</b> <a href="{{ project.link }}">{{ project.resource }}</a></p>
        </div>
    </div>
</div>
{% endmacro %}
