{% macro render_project_card(project) %}
<div class="col mb-4">
  <div class="card bg-dark h-100">
    {% for blk in project.body.blocks %}

    {% if blk._flowblock == "youtube" %}
    <div class="card-header">
      {{ blk }}
    </div>
    {% endif %}
    {% endfor %}
    <div class="card-body">
      <h5 class="card-title">{{ project.title }}</h5>
      {{ project.summary }}
      {% for blk in project.body.blocks %}

      {% if blk._flowblock == "resource" %}
      <a href="{{ blk.url }}" class="card-link">{{ blk.label }}</a>
      {% endif %}

      {% if blk._flowblock == "github" %}
      <a href="{{ blk.url }}" class="card-link">GitHub Repository</a>
      {% endif %}

      {% if blk._flowblock == "notebooks" %}
      <a href="{{ blk.url }}" class="card-link">Notebooks</a>
      {% endif %}

      {% if blk._flowblock == "slides" %}
      <a href="{{ blk.url }}" class="card-link">Slides</a>
      {% endif %}

      {% endfor %}
      <a href="{{ project|url }}" class="card-link">Details</a>
    </div>
  </div>
</div>

{% endmacro %}


{% macro render_project(project) %}
<div class="card bg-dark">
  {% for blk in project.body.blocks %}
  {% if blk._flowblock == "youtube" %}
  <div class="card-header bg-dark">
    {{ blk }}
  </div>
  {% endif %}
  {% endfor %}
  <div class="card-body bg-dark">
    <h4 class="cart-title">{{ project.title }}</h4>
    {% for blk in project.body.blocks %}
    {% if blk._flowblock != "youtube" %}
    {{ blk }}
    {% endif %}
    {% endfor %}
  </div>
  <div class="card-footer">
    <small class="text-muted">{{ project.category }}</small>
  </div>
</div>
{% endmacro %}
