{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post, render_meta_tags %}

{% block metatags %}
{{ render_meta_tags(this) }}
{% endblock %}

{% block highlighting %}
<!-- Syntax Highlighter. Use both pygments and hl.js. -->
<link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
{{ render_blog_post(this) }}

<a name="disqus"></a>
<div class="comments">{{ render_disqus_comments() }}</div>

{% endblock %}
