<!doctype html>
<meta charset="utf-8">
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{{ '/static/style.css'|url }}">

<!-- Jumbotron -->
<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

<div class="container">
  <title>{% block title %}Welcome{% endblock %} — Eric's Personal Site</title>
  <body>
    <div class="nav">
      <header>
        <h1>
          Eric J. Ma
        </h1>
        <p><i>To whom much is given, much is expected. (Luke 12:48)</i></p>
        <ul class="nav nav-pills">
          <li {% if this._path == '/' %} class="active"{% endif %}>
            <a href="{{ '/'|url }}">Home</a>
          </li>
          {# Add in internal pages. #}
          {% for href, title in [
            ['/blog', 'Blog'],
            ['/research', 'Research'],
            ['/projects', 'Open Source Projects'],
            ['/cv', 'CV'],
          ] %}
            <li {% if this.is_child_of(href) %} class="active" {% endif %}>
              <a href="{{ href|url }}">{{ title }}</a>
            </li>
          {% endfor %}
        </ul>
      </header>
    </div>
    <div>
      {% block body %}{% endblock %}
    </div>
    <hr>
    <footer>
        <ul class="nav nav-pills">
          {# Add in external pages. #}
          {% for href, title in [
            ['https://www.linkedin.com/in/ericmjl', 'LinkedIn'],
            ['http://twitter.com/ericmjl', 'Twitter'],
            ['http://github.com/ericmjl', 'GitHub'],
            ['http://stackoverflow.com/users/1274908/ericmjl', 'Stack Overflow'],
          ] %}
            <li><a href="{{ href }}">{{ title }}</a></li>
          {% endfor %}
        </ul>

    </footer>
   </body>
</div>