body {
    font-family: 'Open Sans', sans-serif;
    margin: 50px 25px;
}

a {
    color: #2a99b6;
}

a:hover {
    color: #33bbdf;
}

header, footer, div.page {
    width: 760px;
    margin: 0 auto;
    background: white;
    padding: 20px 30px;
}

header h1 {
    color: #169bbd;
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px; /* or 950px */
}
.navbar-toggle .icon-bar{
    background-color: #2a99b6;
}

hr.fancy { 
  height: 30px; 
  border-style: solid; 
  /*border-color: #8c8b8b; */
  border-color: #169bbd;
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.fancy:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  /*border-color: #8c8b8b; */
  border-color: #169bbd;
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

.carousel-indicators {
  height: 100%;
  top: 0px;
}

.carousel-indicators li {
  background-color: #8c8b8b;
}

.carousel-indicators .active {
  background-color: #169bbd;
}

li {
  margin: 3px;
}